@import '../../common';

$width-card-game-info: 350px;
$height-card-game-info: 400px;
$height-card-header: 40px;
$color-shadow-card: #CCCCCC;
$color-shadow-card-hover: #888888;

.GameInfo {
  margin: $margin-m;
  width: $width-card-game-info;
  height: $height-card-game-info;
  transition: 0.5s ease-in;
  -webkit-box-shadow: 0 0 10px 0 $color-shadow-card;
  -moz-box-shadow: 0 0 10px 0 $color-shadow-card;
  box-shadow: 0 0 10px 0 $color-shadow-card;

  &:hover {
    transition: 0.3s ease-in;
    -webkit-box-shadow: 0 0 10px 0 $color-shadow-card-hover;
    -moz-box-shadow: 0 0 10px 0 $color-shadow-card-hover;
    box-shadow: 0 0 10px 0 $color-shadow-card-hover;
  }

  .header-info {
    display: flex;
    flex-direction: row;
    position: relative;

    width: 100%;
    font-size: 1.2em;
    color: white;
    height: $height-card-header;
    line-height: $height-card-header;
    text-align: center;
    background-color: $color-main-blue;
    -webkit-box-shadow: 0 2px 10px #c1c1c1;
    -moz-box-shadow: 0 2px 10px #c1c1c1;
    box-shadow: 0 2px 10px #c1c1c1;
    opacity: 0.75;

    &.red {
      background-color: $color-basque-red;
    }

    &.white {
      background-color: $color-basque-white;
    }

    &.green {
      background-color: $color-basque-green;
    }

    .place {
      display: flex;
      padding-left: $margin-m;
      align-content: center;

    }

    .nb-players-info {
      justify-content: flex-end;
      display: flex;
      position: absolute;
      right: $margin-m;

      .nb-players-present {
        font-size: 1.2em;
      }

      svg {
        align-self: center;
        font-size: 1.4em;
        padding-right: $margin-xs;
      }
    }
  }

  .all-info {
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    img {
      width: 150px;
      max-height: 150px;
      background-position: center center;
      background-repeat: no-repeat;
    }

    .creator-name {
      font-weight: bolder;
    }

    .players {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }

    .players-list {
      text-align: center;
    }

    .game-datetime {
      display: flex;
      flex-direction: column;
      align-items: center;

      .date {
        font-size: 1.2em;
      }

      .time {
        font-size: 1.5em;
        font-weight: bold;
      }
    }

    .action-zone {
      .administration-zone {
        display: flex;
        justify-content: space-between;
      }
      .delete-btn {
        button {
          background-color: $color-basque-red !important;
        }
      }

      .edit-btn {
        color: $color-basque-red !important;
      }

      .join-btn {
        button {
          background-color: $color-basque-green!important;
        }
      }
    }
  }

}