@import "../../common";

.LoginScreen {

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .fb-login-button {
    margin: $margin-xl 0;
  }

  .explanations {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: $margin-xl;

    .expl1,
    .expl2,
    .expl3 {
      text-align: center;
      padding: 0 $margin-s;
      width: 30%;
    }

  }

}