@import '../../common.scss';

.result-games {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@keyframes animateBorder {
  to {
    border-bottom: 3px solid deeppink;
  }
}

@-moz-keyframes animateBorder {
  to {
    border-bottom: 3px solid deeppink;
  }
}

@keyframes animateBorder {
  to {
    border-bottom: 3px solid deeppink;
  }
}