@import '../../common.scss';

.Footer {
  background-color: #f4f4f4;
  border-top: 3px solid black;

  .links-container {
    display: flex;
    justify-content: space-around;
    height: 100px;

    a {
      text-decoration: none;
      color: black;
    }

    .links {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
    }
  }


  .author {
    height: 20px;
    padding: 0 $margin-xl;
    background-color: #EAEAEA;
    font-size: 0.9em;

    .heart {
      color: red;
      font-size: 1.3em;
      padding: 0 $margin-xs;
    }
  }
}